<div class="account-profile-tab">
<div class="contact-information">
  <div class="account-info-header">{{mdl-icon "person"}} Contact Information</div>
  {{email}}<br/>
  {{phone}}<br/>
</div>
<div class="complex-information">
  <div class="account-info-header">{{mdl-icon "location_on"}} Winslow Apartments</div>
  {{address}}<br/>
  Apartment {{building}}{{unit}}<br/>
  Indianapolis, IN 46802<br/>
</div>
</div>