{{yield}}
<div class="account-settings-tab">
  <div class="settings-header">Bill Pay Reminders</div>
  <div class="notification-switch">{{mdl-switch label="Week Before"}}</div>

  <div class="notification-switch">{{mdl-switch label="Day Before" checked=true}}</div>
  <div class="settings-header">Notification Reminders</div>
  <div class="notification-switch">{{mdl-switch label="Property" checked=true}}</div>
  <div class="notification-switch">{{mdl-switch label="Emergency"}}</div>
  <div class="notification-switch">{{mdl-switch label="Events"}}</div>
  <div class="notification-switch">{{mdl-switch label="Requests"}}</div>
</div>

