{{#mdl-layout fixedHeader=true}}
    {{dashboard-clock day=3}}
    {{log isSignedIn}}
    <h5>Hello, {{model.username}}</h5>
    <button {{action "signOut"}}>Sign Out</button>
    {{outlet}}
{{/mdl-layout}}

